nav .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
	gap: 50px;
}

nav .menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}

nav .menu ul {
	list-style: none;
	display: flex;
	gap: 30px;
}

nav .menu ul a {
	text-decoration: none;
	color: var(--grayish-violet);
	font-weight: 600;
	cursor: pointer;
}

nav .menu ul a:hover{
	color: var(--Very-Dark-Violet);
}
nav .button {
	display: flex;
	gap: 30px;
	align-items: center;
}
nav .btn-primary {
	border-radius: 30px;
}

.mobile-menu {
	display: none;
}

@media (max-width: 500px) {
	nav .container{
		padding: 1.5rem 0;
	}
	nav .menu {
		display: none;
		flex-direction: column;
		background-color: var(--dark-violet);
		position: absolute;
		top: 5.5rem;
		width: 80%;
		border-radius: 12px;
        padding: 2rem 1.5rem;
        gap: 30px;
		z-index: 100;
	}

    nav .menu ul,
	.button {
		flex-direction: column;
		align-items: center;
        width: 100%;
	}

    nav .menu ul{
        border-bottom: 1px solid var(--grayish-violet);
        padding-bottom: 30px;
    }

	nav .menu.active a {
		color: #fff;
		text-align: center;
	}

    nav .btn-primary{
        width: 80%;
    }

    nav .menu.active {
		display: flex;
	}

	.mobile-menu {
		display: block;
	}
	.mobile-menu .bx {
		font-size: 32px;
		color: var(--grayish-violet);
	}
	.mobile-menu .bx-x {
		display: none;
        font-size: 40px;
	}

	.mobile-menu.active .bx-x{
        display: block;
    }
    .mobile-menu.active .bx-menu{
        display: none;
    }
}
